<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.automated.taxinow"
    android:versionCode="22"
    android:versionName="2.3" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />
    <uses-permission android:name="com.automated.taxinow.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.automated.taxinow.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyApiVyo3SiT7ZOTBIYz_ZrUVGlS4DMDBVY" />

        <!-- android:value="AIzaSyAU9Ej41M5SQ3EkEJUQFTv_yi1Y9qj6iE4" ankita pc debug/> -->
        <!-- Sign  AIzaSyCW3bDMzKcZt-9waDB64GA_ymkOAedwfD4 -->
        <!-- hardik        "AIzaSyCCxhZlBdAwLGidKjRSZQSJi_FG6MMj-2o" -->
        <!-- hetal AIzaSyApiVyo3SiT7ZOTBIYz_ZrUVGlS4DMDBVY -->

        <activity
            android:name="RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name="com.automated.taxinow.MainDrawerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/applicationId" />

        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="io.card.payment.DataEntryActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.automated.taxinow" />
            </intent-filter>
        </receiver>

        <service android:name="GCMIntentService" />

        <activity
            android:name="UberMyThingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="UberAddPaymentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.automated.taxinow.MenuDescActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="UberViewPaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="HistoryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="HelpActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="TourListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="TourDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="BookingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.braintreepayments.api.dropin.BraintreePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity" />
        <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity
            android:name="com.paypal.android.sdk.payments.PayPalTouchActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <!-- mobile.connect.checkout service -->
        <service
            android:name="com.mobile.connect.service.PWConnectService"
            android:exported="false" >
        </service>
    </application>

</manifest>